:root {
	--mfontsize: 2.4rem;
	--mcolor: white;
	--mfontfamily:"Poppins", sans-serif;
}


html, body {
	width: 100%;
	margin: 0;
	font-size: 15px;
}

body {
	display: flex;
	flex-direction: column;
	background-color: hsl(257, 40%, 49%);
	background-image: url(../images/bg-desktop.svg);
	background-repeat: no-repeat;
	background-size: 90% 127%;
    background-position: 0 -13px;
	
}


.icon {
	margin-top: 3em;
	width: 97%;
	margin-left: 3%;

}


main {
	margin-top: 4.9em;
	width: 97%;
	margin-left: 3%;
}


img.mockups {
	max-width: 55%;
}


content {
	width: 30%;
	float: right;
	margin-top: 3em;
	margin-right: 9.5em;


}


h1 {
	font-size: var(--mfontsize, 2.4rem);
	font-family: var(--mfontfamily);
	color: var(--mcolor, white);
	margin-bottom: 0;
}


h2 {
	font-size: var(--mfontsize, 2.4rem);
	font-family: var(--mfontfamily);
	color: var(--mcolor, white);
	margin-top: .5em;
}


main content p {
	width: 49ch;
	font-family: var(--mfontfamily);
	color: hsl(0deg 0% 90% / 90%);
	font-size: 1.2rem;
}





div.register {
	float: right;
	width: 100%;
}


div.register button {
	padding: 1.3em 5em;
	border-radius: 25px;
	border: none;
	font-family: var(--mfontfamily);
	color: hsl(257, 40%, 49%);
	font-size: 15px;
	box-shadow: 1px 1px 20px 0px #1f1f1f;

}


footer {
	float: right;
	text-align: end;
}



/******************************************************************************/

div.register button:hover {
	background-color: hsl(300, 69%, 71%);
	color: #fff;
	cursor: pointer;
}