:root {
	--mfontsize: 2.4rem;
	--mcolor: white;
	--mfontfamily:"Poppins", sans-serif;
}


html, body {
	width: 100%;
	margin: 0;
	font-size: 15px;
}

body {
	display: flex;
	flex-direction: column;
	background-color: hsl(257, 40%, 49%);
	background-image: url(../images/bg-desktop.svg);
	background-repeat: no-repeat;
	background-size: 90% 140%;	
}


.icon {
	margin-top: 3em;
	width: 97%;
	margin-left: 3%;

}


main {
	margin-top: 4.9em;
	width: 97%;
	margin-left: 3%;
}


img.mockups {
	max-width: 55%;
}


content {
	width: 30%;
	float: right;
	margin-top: 3em;
	margin-right: 9.5em;
}


h1 {
	font-size: var(--mfontsize, 2.4rem);
	font-family: var(--mfontfamily);
	color: var(--mcolor, white);
	margin-bottom: 0;
}


h2 {
	font-size: var(--mfontsize, 2.4rem);
	font-family: var(--mfontfamily);
	color: var(--mcolor, white);
	margin-top: .5em;
}


main content p {
	width: 49ch;
	font-family: var(--mfontfamily);
	color: hsl(0deg 0% 90% / 90%);
	font-size: 1.2rem;
}





div.register {
	float: right;
	width: 100%;
}


div.register button {
	padding: 1.3em 5em;
	border-radius: 25px;
	border: none;
	font-family: var(--mfontfamily);
	color: hsl(257, 40%, 49%);
	font-size: 15px;
	box-shadow: 1px 1px 20px 0px #1f1f1f;

}


footer {
	float: right;
	text-align: end;
}

footer a i {
	color: white;
	border: 1px solid white;
	padding: 10px 12px;
	margin-left: 10px;
	border-radius: 50%;
	font-size: 15px;
}


footer a i:hover {
	color: hsl(300, 69%, 71%);
	border-color:  hsl(300, 69%, 71%);


}



/******************************************************************************/

div.register button:hover {
	background-color: hsl(300, 69%, 71%);
	color: #fff;
	cursor: pointer;
}


/******************************************************************************/

@media (max-width: 767px) {

	body {
		background-size: 100%;
	}


	.icon {
		margin-top: 1.5em;
	}


	.icon img {
		width: 40%;
		margin-bottom: 3em;

	}

	main {
		width: 90%;
		margin: 0 5%;
	}


	img.mockups {
		width: 100%;
		max-width: none;

	}


	content {
		width: 100%;
		float: center;
		margin: 0;
		
	}

	content h1 {
		font-size: 2rem;
		text-align: center;
	}

	content h2 {
		font-size: 1.8rem;
		text-align: center;
	}

	content .paragraph {
		width: 100%;
		text-align: center;
	}

	content .paragraph p {
		width: 83% !important;
		margin: 20px calc((100% - 83%) / 2);
		font-size: 1.44rem !important;
		text-align: center;
	}


	div.register {
		float: none;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px
	}


	footer {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

}


@media (min-width: 768px) and (max-width: 1200px) {
	body {
		background-size: 100% 120%;
	}

	.icon {
		margin-top: 1em;
	}

	main {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img.mockups {
		max-width: 77%;
	}

	content {
		width: 100%;
		margin: 0;
		text-align: center;
	}

	div.paragraph p {
		width: 100%;
		margin-bottom: 30px;
	}


	footer {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		margin-bottom: 63px;
	}
}





@media (min-height: 1300px) {
	body {
		background-size: 100% 150%;
	}
}